---
layout: default
section: home

title: "LoboBrowser"
---

<div class="jumbotron">
  <h3>LoboBrowser: Java Web Browser</h3>
  <p class="lead">LoboBrowser is an open source web browser that is written completely in Java. LoboBrowser is being actively developed with the aim to fully support HTML 5, Javascript and CSS3. LoboBrowser also supports direct
    JavaFX rendering. The general goal of the LoboBrowser effort is to produce a browser that is fast, complete, easy to extend, feature-rich and secure.</p>
</div>

<div class="alert alert-info" role="alert">
  <strong>Heads up!</strong> The new LoboBrowser website is under development, please excuse our dust while we work on the site.
</div>
